<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Fake Bing</title>
</head>
<body>
	<h1>Fake Bing</h1>
	<form action="https://www.bing.com/search">
  검색 하깅 : <input type="text" name="q"><br>
  <input type="submit" value="검색하기">
</form>
<iframe width="560" height="315" src="https://www.youtube.com/embed/SbeTuBQaJJ8" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
</html>
